.FullPost {
    width: auto;
    margin: 5px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.title {
    padding-top: 0px;
}

.body {
    width: auto;
    padding-right: auto;
    padding-left: auto;
    text-align: left;
    margin-left: 10px;
    word-wrap: break-word;
}

.Edit {
    width: 80vw;
    margin: 20px;
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover, .Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover, .Edit button.Delete:active {
    color: darkred;
}