.about {
    /* margin: auto; */
    /* max-height:100px; */
<<<<<<< HEAD
    margin-top: 35px;
    border-top: 35px;
    border-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
=======
    margin-top: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
>>>>>>> e653909bebb4a3ec2f4d524c97300abac7b8d124


}